.scribble
{
    position: absolute;
}

.scribble1
{
    width: 96px;
    top: 32px;
}

.scribble2
{
    width: 240px;
    top: 112px;
    right: -48px;
}

.scribble3
{
    width: 240px;
    top: 112px;
    left: -48px;
}

.scribble4
{
    width: 160px;
    top: 48px;
    right: -48px;
}

.scribble5
{
    width: 160px;
    top: 50%;
    left: -64px;
}

.scribble6
{
    width: 160px;
    bottom: 0;
    left: -32px;
}

.scribble7
{
    width: 208px;
    top: 80px;
    right: -32px;
}

.scribble8
{
    width: 128px;
    top: 0px;
    right: -48px;
}

.scribble9
{
    width: 160px;
    top: 50%;
    left: -64px;
}

.scribble10
{
    width: 128px;
    top: 0px;
    left: -32px;
}

@media (max-width: 1024px)
{
    .scribble2
    {
        width: 11rem;
    }

    .scribble3
    {
        width: 9rem;
    }

    .scribble4
    {
        width: 8rem;
    }

    .scribble5
    {
        width: 8rem;
    }

    .scribble6
    {
        width: 8rem;
    }

    .scribble7
    {
        width: 10rem;
    }

    .scribble8
    {
        width: 7rem;
    }

    .scribble9
    {
        width: 8rem;
    }

    .scribble10
    {
        width: 6rem;
    }
}

@media (max-width: 640px)
{
    .scribble2
    {
        width: 9rem;
        top: 7rem;
        right: -4rem;
    }

    .scribble3
    {
        width: 6rem;
        top: 0;
        left: -3rem;
    }

    .scribble4
    {
        width: 5rem;
        top: 0;
        right: -2rem;
    }

    .scribble5
    {
        width: 5rem;
        left: -2rem;
    }

    .scribble6
    {
        width: 5rem;
        left: -1rem;
    }

    .scribble7
    {
        width: 6rem;
        top: 0;
        right: -1rem;
    }

    .scribble8
    {
        width: 5rem;
        top: 0;
        right: -3rem;
    }

    .scribble9
    {
        width: 5rem;
        left: -1.5rem;
    }

    .scribble10
    {
        width: 5rem;
        top: 0;
        left: -2rem;
    }
}
