.scribble
{
    position: absolute;
}

.scribble1
{
    width: 96px;
    top: 32px;
}

.scribble2
{
    width: 240px;
    top: 112px;
    right: -48px;
}

.scribble3
{
    width: 240px;
    top: 112px;
    left: -48px;
}

.scribble4
{
    width: 160px;
    top: 48px;
    right: -48px;
}

.scribble5
{
    width: 160px;
    top: 50%;
    left: -64px;
}

.scribble6
{
    width: 160px;
    bottom: 0;
    left: -32px;
}

.scribble7
{
    width: 208px;
    top: 80px;
    right: -32px;
}

.scribble8
{
    width: 128px;
    top: 0px;
    right: -48px;
}

.scribble9
{
    width: 160px;
    top: 50%;
    left: -64px;
}

.scribble10
{
    width: 128px;
    top: 0px;
    left: -32px;
}

