.scribble
{
    position: absolute;
}

.scribble1
{
    width: 96px;
    top: 32px;
}

.scribble2
{
    width: 240px;
    top: 112px;
    right: -48px;
}

.scribble3
{
    width: 240px;
    top: 112px;
    left: -48px;
}

.scribble4
{
    width: 160px;
    top: 48px;
    right: -48px;
}

.scribble5
{
    width: 160px;
    top: 50%;
    left: -64px;
}

.scribble6
{
    width: 160px;
    bottom: 0;
    left: -32px;
}

.scribble7
{
    width: 208px;
    top: 80px;
    right: -32px;
}

.scribble8
{
    width: 128px;
    top: 0px;
    right: -48px;
}

.scribble9
{
    width: 160px;
    top: 50%;
    left: -64px;
}

.scribble10
{
    width: 128px;
    top: 0px;
    left: -32px;
}

@media (max-width: 1024px)
{
    .scribble2
    {
        width: 176px;
    }

    .scribble3
    {
        width: 144px;
    }

    .scribble4
    {
        width: 128px;
    }

    .scribble5
    {
        width: 128px;
    }

    .scribble6
    {
        width: 128px;
    }

    .scribble7
    {
        width: 160px;
    }

    .scribble8
    {
        width: 112px;
    }

    .scribble9
    {
        width: 128px;
    }

    .scribble10
    {
        width: 96px;
    }
}

@media (max-width: 640px)
{
    .scribble2
    {
        width: 144px;
        top: 112px;
        right: -64px;
    }

    .scribble3
    {
        width: 96px;
        top: 0;
        left: -48px;
    }

    .scribble4
    {
        width: 80px;
        top: 0;
        right: -32px;
    }

    .scribble5
    {
        width: 80px;
        left: -32px;
    }

    .scribble6
    {
        width: 80px;
        left: -16px;
    }

    .scribble7
    {
        width: 96px;
        top: 0;
        right: -16px;
    }

    .scribble8
    {
        width: 80px;
        top: 0;
        right: -48px;
    }

    .scribble9
    {
        width: 80px;
        left: -24px;
    }

    .scribble10
    {
        width: 80px;
        top: 0;
        left: -32px;
    }
}
