.section
{
    position: relative;
    background-image: url('../../../assets/images/background-texture.png');
    padding: 128px 96px 128px 96px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    text-align: center;
}

.title
{
    text-align: center;
    font-size: 48px;
    line-height: 1;
    margin: 0;
    font-weight: 800;
}

.description
{
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
    margin: 24px 0px 48px 0px;
    font-family: system-ui;
    color: rgba(39, 39, 42, 1);
    display: flex;
}

.description img
{
    width: 28px;
    margin: 0px 6px;
}

.title__main
{
    font-size: 72px;
    font-weight: 800;
    max-width: 672px;
}

.description__main
{
    font-size: 30px;
    line-height: 36px;
}

.paddingSmall
{
    padding: 128px 24px 78px 24px;
}

@media (max-width: 768px)
{
    .section
    {
        padding: 128px 16px 128px 16px;
    }
}

@media (max-width: 640px)
{
    .title
    {
        font-size: 30px;
    }

    .title__main
    {
        font-size: 48px;
    }

    .description
    {
        font-size: 20px;
    }

    .description__main
    {
        font-size: 24px;
    }
}