.cards
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 96px;
}

.card
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon
{
    width: 100px;
    height: 100px;
}

.title
{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: rgba(24, 24, 27, 1);
    margin: 32px 0px 0px 0px;
}

.description
{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: rgba(63, 63, 70, 1);
    margin: 8px 0px 0px 0px;
    font-family: system-ui;
}

@media (max-width: 1024px)
{
    .cards
    {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px)
{
    .cards
    {
        grid-template-columns: repeat(1, 1fr);
    }
}
