@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;700;800&display=swap');

body
{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.explain
{
    color: rgba(63, 63, 70, 1);
    margin: 16px 0px 32px 0px;
    font-family: system-ui;
    line-height: 24px;
}