.dark
{
    --color: #ffffff;
    --background-color: #27272a;
    --shadow-color: rgba(0, 0, 0, 0.3);
}

.light
{
    --color: rgba(24, 24, 27, 1);
    --background-color: rgba(255, 255, 255, 1);
    --shadow-color: rgba(255, 255, 255, 0.3);
}

.rectangle.button
{
    text-decoration: none;
    color: var(--color);
    background-color: var(--background-color);
    border-radius: 8px;
    font-weight: 800;
    overflow: hidden;
    transition: transform .3s;
    cursor: pointer;
}

.rectangle.button:hover
{
    transform: translateY(-5px);
}

.rectangle.small
{
    background: #ffffff;
    box-shadow: 8px 8px 0px 0px var(--shadow-color);
}

.rectangle.medium
{
    padding: 12px 32px 12px 32px;
    box-shadow: 6px 6px 0px 0px var(--shadow-color);
    line-height: 24px;
}

.rectangle.large
{
    padding: 24px 48px 24px 48px;
    box-shadow: 8px 8px 0px 0px var(--shadow-color);
    font-size: 18px;
    line-height: 28px;
}

.rounded.button
{
    border-radius: 9999px;
    color: var(--color);
    background-color: var(--background-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    font-family: Lato;
    border: 0;
    cursor: pointer;
}

.rounded.small
{
    padding: 8px 28px 8px 28px;
    border: 1px solid #e5e7eb;
}

.rounded.medium
{
    padding: 12px 28px 12px 28px;
}