.scribble
{
    position: absolute;
}

.scribble2
{
    width: 240px;
    top: 112px;
    right: -48px;
}

.scribble3
{
    width: 240px;
    top: 112px;
    left: -32px;
}

.scribble8
{
    width: 128px;
    top: 0px;
    right: -48px;
}

.scribble9
{
    width: 160px;
    top: 50%;
    left: -64px;
}
