@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.container
{
    background-color: #ffffff;
    max-width: 1024px;
    width: 100%;
    position: relative;
    padding: 32px 0px 32px 0px;
    font-family: Lato;
    border-radius: 8px;
}

.watermark
{
    position: absolute;
    right: 0;
    top: 0;
    color: #232222;
    font-size: 12px;
    line-height: 16px;
    padding: 16px;
    text-decoration: none;
    font-weight: 300;
}

.watermark .bold
{
    font-weight: 700;
}

.post
{
    margin: 0px;
    padding: 32px 128px 32px 128px;
}

.post_title
{
    color: #232222;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.input_container
{
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    padding: 16px 12px 16px 12px;
    margin: 24px 0px 12px 0px;
    transition: border-color .1s;
}

.input
{
    border: 0;
    outline: 0;
    text-align: left;
    line-height: 25.6px;
    font-weight: 400;
}

.input_container:focus-within 
{
    border-color: #d8b4fe;
}

.card
{
    position: relative;
    padding: 16px 128px 16px 128px;
    text-align: left;
    animation: fade-in .3s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.question
{
    padding-bottom: 20px;
}

.title
{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.user
{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    margin-top: 8px;
}

.avatar
{
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.username
{
    color: #4b5563;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.answer
{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
}

.submit_container
{
    display: flex;
    justify-content: flex-end;
    column-gap: 14px;
}

.title_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 128px 16px 128px;
}

.sub_title
{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.bottom_container
{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 8px;
}

@media (max-width: 1024px)
{
    .post, .title_container, .card
    {
        padding: 32px 64px 32px 64px;
    }

}