.section
{
    position: relative;
    background-image: url('../../../assets/images/background-texture.png');
    padding: 128px 24px 128px 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.title
{
    text-align: center;
    line-height: 1;
    margin: 0;
}

.description
{
    text-align: center;
    font-weight: 300;
    margin-top: 24px;
    margin-bottom: 48px;
    font-family: system-ui;
    color: rgba(39, 39, 42, 1);
}

.title__main
{
    font-size: 72px;
    font-weight: 800;
    max-width: 672px;
}

.description__main
{
    font-size: 30px;
    line-height: 36px;
}